body {
    background-color: rgb(144, 8, 8);
    color: white;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button {
    background-color: rgb(223, 25, 25);
    color: white;
    font-family: "Playfair Display", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
    text-align:center;
    max-width: 90%;
}
img{
    max-width: 80%;
}
